<% provide(:title, "Access_Denied") %>
<div class="container">
  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <h4>Sorry, you are not authorized to view this content. Please contact system admininistrators at <%= mail_to "cfu-liblts@wustl.edu" %></h4>
    </div>
  </div>
</div>
