<% provide(:title, "Access_Denied") %>
<div class="container">
  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="well">
        <h4><strong>Sorry, you are not authorized. Please contact system administrators at <%= mail_to "cfu-liblts@wustl.edu" %></strong></h4>
      </div>
    </div>
  </div>
</div>
