<% provide(:title, "Home") %>
<div class="center jumbotron">
  <h1>Welcome to WashU Stream</h1>
  <h3>
    University Libraries Streaming Reserves
  </h3>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Upload Manager</h3>
        </div>
        <div class="panel-body">
          <p>Upload video files for streaming.</p>
<!--          <p><%#= link_to "Upload", reserves_upload_path, :class => "btn btn-default" %></p>-->
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Reserves Manager</h3>
        </div>
        <div class="panel-body">
          <p>Manage and review list of streaming reserves</p>
<!--          <p><%#= link_to "View", reserves_video_path, :class => "btn btn-default" %></p>-->
        </div>
      </div>
    </div>
  </div>
</div>