/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
    padding: 60px 10px 50% 10px;
}

.footer {
    width: 100%;
    position: absolute;
    bottom: -15px;
}

.footer > .row.bottom {
    background-color: #555;
    text-align: left;
    padding: 10px 25%;
}

.footer > .row.runner {
    background-color: #a51417;
    text-align: left;
    padding: 20px 25%;
}

.footer > .row.bottom > .col-md-4 > .panel-default {
    background-color: #555;
    color: rgb(255, 255, 255);
    border: none;
    -webkit-box-shadow: none;
}

.footer > .row.bottom > .col-md-4 > .panel > .panel-heading {
    background-color: #555;
    color: rgb(255, 255, 255);
    border: none;
}

.footer > .row.bottom > .col-md-4 > .panel > .panel-heading > .panel-title {
    background-color: #555;
    color: rgb(255, 255, 255);
    border: none;
    text-align: left;
}

.footer > .row.bottom > .col-md-4 > .panel > .panel-body {
    background-color: #555;
    color: rgb(255, 255, 255);
    border: none;
    text-align: left;
    padding-top: 5px;
}

.footer > .row.bottom > .col-md-4 > .panel > .panel-body > .list-group .list-group-item, .panel>.panel-collapse>.list-group .list-group-item {
    background-color: #555;
    color: rgb(255, 255, 255);
    padding: 0px;
    text-align: left;
    border: none;
}

.footer > .row.bottom > .col-md-4 > .panel > .panel-body > .list-group > a:hover {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}

.footer > .row.bottom > .col-md-4 > .panel > .panel-body > p > a {
    color: rgb(255, 255, 255);
}

.footer > .row.runner > .container > .col-md-4 > p.text-muted {
    color: rgb(255, 255, 255);
}

.footer > .row.runner > .container > .col-md-4 > a {
    color: rgb(255, 255, 255);
}

.footer > .row.runner > .container > .col-md-4 > a:hover {
    color: rgb(255, 255, 255);
}

.footer > .row.runner > .container > .col-md-4 > a:active {
    color: rgb(255, 255, 255);
}

.footer > .row.runner > .container > .col-md-4 > a > span {
    color: rgb(255, 255, 255);
    padding-left: 5px;
}

.footer > .row.runner > .container > .col-md-8 > p.text-muted {
    color: rgb(255, 255, 255);
}


.footer >  span.glyphicon.glyphicon-triangle-top {
    position: absolute;
    left: 50%;
    top: -11px;
    color: #555;
}

.navbar-inverse {
    background-color: #555;
    border-color: #535959;
    border-radius: 0px;
}

.navbar-right.top {
    font-family: 'Libre Baskerville', serif;
}

.page-header {
    font-family: 'Libre Baskerville', serif;
    font-weight: bolder;
    color: #363636;
    margin-left: 25%;
    padding: 25px;
}

.page-header > h1 {
    padding: 0 0 15px 50px;
}




code {
  font-size: 80%;
}


/*flash*/
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
}

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
}

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
}

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
}


@media screen and (max-width: 768px) {

.page-header {
    font-family: 'Libre Baskerville', serif;
    font-weight: bolder;
    color: #363636;
    /*margin-left: 20%;*/
    padding: 25px;
}

.page-header > h1 {
    padding: 0 0 15px 50px;
    display: contents;
}

.navbar-right.top {
}

}