<div class="bottom container-fluid">
  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">University Libraries</h3>
        </div>
        <div class="panel-body">
          <p>Campus Box 1061<br>
            One Brookings Dr.<br>
            St. Louis, MO 63130<br>
            <a href="mailto:library.webmaster@wumail.wustl.edu">Contact Us</a></p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Popular Links</h3>
        </div>
        <!-- List group -->
        <div class="list-group">
          <a class="list-group-item" href="http://libanswers.wustl.edu/">FAQ</a>
          <a class="list-group-item" href="https://library.wustl.edu/services/mylib/">My Accounts</a>
          <a class="list-group-item" href="http://libguides.wustl.edu/offcampusaccess">Off-Campus Access</a>
          <a class="list-group-item" href="/services/ill/">Interlibrary Loan</a></li>
          <a class="list-group-item" href="/research-instruction/subjectlibrarians/">Subject Librarians</a>
          <a class="list-group-item" href="/services/circ/reservegroupstudy/">Reserve a Group Study Room</a>
          <a class="list-group-item" href="/services/reserve/">Reserves</a></li>
          <a class="list-group-item" href="https://collaboration.wustl.edu/depts/Ginkgo">Library Staff Intranet</a>
          <a class="list-group-item" href="/jobs/">Employment</a></li>
          <a class="list-group-item" href="/services/forms/comments/">Comments</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Give to the Libraries</h3>
        </div>
        <div class="panel-body">
          <p>
            <a href="https://gifts.wustl.edu/GiftForm.aspx?brd=Libraries"><img src="../assets/CAM_Horz_CMYKplusCustRed_solid_pos.png" style="width: 320px;height:auto;padding:4px;background-color:#fff" alt="Give to the Libraries"></a><br><br>
            <a href="https://library.wustl.edu/units/olinlibrary/transformation/"><img src="../assets/olin-transformation-graphic-sm.jpg" alt="Olin Library Transformation"></a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<footer class="footer">
  <div class="container">
    <div class="col-md-8">
      <p class="text-muted">&copy;Washington University in St. Louis</p>
    </div>
    <div class="col-md-4">
      <p class="text-muted"><a class="text-muted" href="#">Back to Top</a> <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span></p>
    </div>
</footer>